<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sissi Zhen's Website</title>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>

</head>
<body style="font-family: Arial" onload="addYear()">
    <header>
        <h1 id="webname">Yuxi (Sissi) Zhen</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="../views/cv.html">CV</a>
            <a href="../views/contact.html">Contact Me</a>
            <a href="../views/fun.html">For fun</a>
        </nav>
    </header>
    
    <div class="mainLayout">
        <div id="contactItem1">
            <h2>Find Me</h2>
            <!-- <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6910.802051779472!2d-79.94700152356393!3d40.44594477143493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f223cc46da6d%3A0x20fe8cbb72b0da5b!2sMorewood%20Gardens%20Parking%20Lot!5e1!3m2!1sen!2sus!4v1742416271891!5m2!1sen!2sus" 
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
            </iframe> -->
            
            <div id="map"></div>
            <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
                ({key: "AIzaSyCkRMLZo9ZwmIg5zn7yvdCaIu3PL-GTCDs", v: "weekly"});</script>

            <!-- <script>
                function initMap() {
                    center:new google.maps.LatLng(51.508742,-0.120850)
                    var map = new google.maps.Map(document.getElementById("map"), {
                        zoom: 15,
                        center: location,
                    });
        
                    // // Add a marker at the location
                    // new google.maps.marker.AdvancedMarkerElement({
                    //     position: location,
                    //     map: map,
                    //     title: "Federation Square", // Tooltip text
                    // });
                }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkRMLZo9ZwmIg5zn7yvdCaIu3PL-GTCDs&callback=initMap"></script> -->

        </div>
        <div id="contactItem2">
            <h2>Contact Me</h2>
            <form action="submit_form.php" onsubmit="validate()">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required><br><br>
            
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required><br><br>
            
                <label for="comment">Comment:</label><br>
                <textarea id="comment" name="comment" rows="4" cols="30" required></textarea><br><br>
            
                <input type="submit" onclick="validate()">
            </form>
            <p id="inputInvalidMsg"></p>
            <h3>Contact Information</h3>
            <table>
                <tr>
                    <th>Email</th>
                    <th>Number</th>
                    <th>LinkedIn</th>
                </tr>
                <tr>
                    <th>yuxizhen@andrew.cmu.edu</th>
                    <th>(484)792-8129</th>
                    <th>linkedin.com/in/yuxizhen/</th>
                </tr>
            </table>
        </div>
        

    </div>

    <footer>
        <p>Copyright &copy; <span id="copyYear"></span>Yuxi Zhen. All Rights Reserved.</p>
    </footer>
</body>
</html>

