<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sissi Zhen's Website</title>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body style="font-family: Arial">
    <header>
        <h1 id="webname">Yuxi (Sissi) Zhen</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="../views/cv.html">CV</a>
            <a href="../views/contact.html">Contact Me</a>
            <a href="../views/fun.html">For fun</a>
        </nav>
    </header>
    
    <div class="main">
        <h2>Curriculum Vitae</h2>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
                <tr>
                    <th>Education: Carnegie Mellon University</th>
                    <th>
                        <ul>
                            <li>In the process of completing 4 years of undergraduate 
                                study at Carnegie Mellon University in the Information 
                                Systems program</li>
                            <li>GPA: 4.0</li>
                            <li>Honors: Dean's List</li>
                        </ul>
                    </th>
                </tr>
                <tr>
                    <th>Work Experience: Toyz Electronics</th>
                    <th><ul>
                        <li>Developed 2 mid-fidelity Figma prototypes, 5 paper 
                            wireframes, and 1 interactive paper prototype for 
                            website redesigns</li>
                        <li>Initiated meetings with team of 3 for clarification, 
                            delegation, and goal-setting to drive the web 
                            development process</li>
                        <li>Created a userflow chart collaboratively and conducted 
                            10+ hours of playtesting to guide the technical team 
                            in game development</li>
                        </ul>
                    </th>
                </tr>
                <tr>
                    <th>Work Experience: Peer Health Advocates</th>
                    <th><ul>
                        <li>underwent training to gain active listening skills</li>
                        <li>provided 1-on-1 student peer counseling</li>
                    </ul></th>
                </tr>
                <tr>
                    <th>Research: Leadership in the Business World</th>
                    <th><ul>
                        <li>created HR analysis of Airbnb</li>
                        <li>presented slide deck with team memebers</li>
                    </ul></th>
                </tr>
            </table>
    </div>

    <h1>My Resume</h1>
    <a href="../static/my-resume.pdf" target="_blank">Download Resume</a>
    <footer>
        <p>&copy; 2025 Yuxi Zhen. All Rights Reserved.</p>
    </footer>
</body>
</html>

