<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sissi Zhen's Website</title>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Your name</title>

</head>
<body>
    <header>
        <h1>Yuxi (Sissi) Zhen</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a><li></li>
                <li><a href="views/cv.html">CV</a></li>
                <li><a href="views/contact.html">Contact Me</a></li>
                <li><a href="views/fun.html">For fun</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="main">
        <h2>Home</h2>
        <p>Hello world!</p>
    </div>

    <footer>
        <p>&copy; 2025 Yuxi Zhen. All Rights Reserved.</p>
    </footer>
</body>
</html>

