<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sissi Zhen's Website</title>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body style="font-family: Arial">
    <header>
        <h1 id="webname">Yuxi (Sissi) Zhen</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="../views/cv.html">CV</a>
            <a href="../views/contact.html">Contact Me</a>
            <a href="../views/fun.html">For fun</a>
        </nav>
    </header>
    
    <div class="main">
        <h2>Things I love to do for fun</h2>
        <ul>
            <li>Singing</li>
            <li>Dancing</li>
            <li>Thrifting</li>
            <li>Cafe-hopping</li>
            <li>Corcheting</li>
        </ul>
    </div>

    <footer>
        <p>&copy; 2025 Yuxi Zhen. All Rights Reserved.</p>
    </footer>
</body>
</html>

