<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sissi Zhen's Website</title>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
</head>

<body style="font-family: Arial" onload="addYear()">
    <header>
        <h1 id="webname">Yuxi (Sissi) Zhen</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="../views/cv.html">CV</a>
            <a href="../views/contact.html">Contact Me</a>
            <a href="../views/fun.html">For fun</a>
        </nav>
    </header>
    
    <div class="mainLayout">
        <div class="subLayout">
            <div id="item1">
                <h2>Things I love to do for fun</h2>
                <!-- <button id="funButton" onclick="showList()">Click to see...</button> -->
                <ul id="funList">
                    <li>Singing</li>
                    <li>Dancing</li>
                    <li>Thrifting</li>
                    <li>Cafe-hopping</li>
                    <li>Crocheting</li>
                </ul>
            </div>
            <div id="item3">
                <iframe
                    id="funVideo"
                    width="500"
                    height="300"
                    src="https://www.youtube.com/embed/VQUlbADwcYg">
                </iframe>
            </div>
        </div>

        <div class="subLayout">
            <div id="item2"><img class="funIMG" src="../static/fun-img.jpg" width="500"></div>
            <div id="item4">
                <div class="container">
                    <h2>Need some advice?</h2>
                    <p id="adviceText">Click the button to get a random piece of advice!</p>
                    <button onclick="getAdvice()">Get Advice</button>
            </div>
        </div>
    </div>
    </div>

    <footer>
        <p>Copyright &copy; <span id="copyYear"></span>Yuxi Zhen. All Rights Reserved.</p>
    </footer>
</body>
</html>