* {
    font-family: 'Courier New', monospace;
    /* font-optical-sizing: auto; */
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #723b1f;
    padding: 5px;
    margin: 5px
}

#webname {
    background-color: #92ad70;
    color: #ffffff;
}

nav a {
    text-decoration: none;
    color: #92ad70;
    margin-right: 15px;
    font-weight: bold;
}

th {
    padding: 12px 0;
    /* background-color: #364029; */
    color: #723b1f;
    width: fit-content;
    font-weight: bold;
}

table {
    border: 1px;
}

table tr:first-child td,
table tr:first-child th {
    background-color: #723b1f; 
    color: #EADDCA; 
    font-weight: bold;
}

form * {
    display: block;
    margin: auto;
    text-align: center;
}

.oddRow {
    background-color: #cde4b1;
}

.evenRow {
    background-color: #a7c77f;
}

/* #funList {
    display: none;
} */

button {
    padding: 10px 20px;
    background-color: #a7c77f;
    color: #723b1f;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
    color: #ffffff
}

/* index page */
#bio {
    margin-top: 20px;
}

#longBio, #readLess {
    display: none;
}

.funIMG {
    border-radius: 100%;
}

/* contact page */
#inputInvalidMsg {
    width: max-content;
    margin: auto;
}

/* fun page */
.container {
    border-radius: 100%; 
    display: inline-block;
    border-radius: 10%;
}

.mainLayout {
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    align-items: center; 
    gap: 10px; 
    padding: 10px; 
    min-height: 100vh; 
}

.subLayout {
    flex-direction: column;
    width: 600px;
}

/* #adviceText {
    width: 600;
} */

#map {
    height: 400px; 
    width: 400px; 
}