* {
    font-family: 'Roboto', sans-serif;
    /* font-optical-sizing: auto; */
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #723b1f;
    padding: 5px;
    margin: 5px
}

#webname {
    background-color: #92ad70;
    color: #ffffff;
}

nav a {
    text-decoration: none;
    color: #92ad70;
    margin-right: 15px;
    font-weight: bold;
}

th {
    padding: 12px 0;
    /* background-color: #364029; */
    color: #723b1f;
    width: fit-content;
    font-weight: bold;
}

table {
    border: 1px;
}

/* table tr:nth-child(odd) {
    background-color: #7d9560;
} */

/* table tr:nth-child(even) {
    background-color: #92ad70;
} */

table tr:first-child td,
table tr:first-child th {
    background-color: #723b1f; 
    color: #EADDCA; 
    font-weight: bold;
}

form * {
    display: block;
    margin: auto;
    text-align: center;
}

.oddRow {
    background-color: #cde4b1;
}

.evenRow {
    background-color: #a7c77f;
}